<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>avocado.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,14},{49,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,2},{49,63}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>

			<key>bear.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,14},{49,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,1},{49,65}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>

			<key>carrot.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,14},{32,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,1},{32,65}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>

			<key>checkbox-empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,67},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>

			<key>checkbox-filled.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,14},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>

			<key>enemy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,14},{44,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,0},{44,66}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>

			<key>grapes.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,14},{38,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,1},{38,64}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>

			<key>xp_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,13}}</string>
				<key>sourceSize</key>
				<string>{300,13}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,128}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>