<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PoisonGlyph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{16,433},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Storm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{75,1289},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{114,1399},{12,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avocado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{90,534},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{70,1120},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{70,1178},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{47,378},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bl_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1,1529},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bl_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1,1587},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bow-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1,1645},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>br_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1,1703},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>br_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1,1761},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1,1819},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{46,1341},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{91,378},{30,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{77,1020},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close-modal-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{75,1236},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{85,339},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{56,1399},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{16,477},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dumb-knife.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,65}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{46,1257},{27,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty-tile-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{57,1457},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{59,1515},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{46,436},{40,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,29}</string>
                <key>spriteSourceSize</key>
                <string>{186,29}</string>
                <key>textureRect</key>
                <string>{{54,190},{186,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{77,924},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{32,826},{40,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{1,1120},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,29}</string>
                <key>spriteSourceSize</key>
                <string>{187,29}</string>
                <key>textureRect</key>
                <string>{{16,244},{187,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{90,656},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{90,582},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{77,868},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,29}</string>
                <key>spriteSourceSize</key>
                <string>{187,29}</string>
                <key>textureRect</key>
                <string>{{54,1},{187,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-detail-btn-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,34}</string>
                <key>spriteSourceSize</key>
                <string>{6,34}</string>
                <key>textureRect</key>
                <string>{{120,1341},{6,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-detail-btn-m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,34}</string>
                <key>spriteSourceSize</key>
                <string>{4,34}</string>
                <key>textureRect</key>
                <string>{{122,1020},{4,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-detail-window-bot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,13}</string>
                <key>spriteSourceSize</key>
                <string>{241,13}</string>
                <key>textureRect</key>
                <string>{{1,244},{241,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-detail-window-mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,13}</string>
                <key>spriteSourceSize</key>
                <string>{241,13}</string>
                <key>textureRect</key>
                <string>{{39,1},{241,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-detail-window-top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,36}</string>
                <key>spriteSourceSize</key>
                <string>{241,36}</string>
                <key>textureRect</key>
                <string>{{1,1},{241,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>l_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{59,1573},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{59,1631},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lame-spider-sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{104,1341},{14,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{59,1689},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{59,1747},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modal-inventory-grid-slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{77,972},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modal-nav-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,70}</string>
                <key>spriteSourceSize</key>
                <string>{87,70}</string>
                <key>textureRect</key>
                <string>{{1,1031},{87,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>money_bag_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{19,984},{42,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{90,478},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,43}</string>
                <key>spriteSourceSize</key>
                <string>{72,55}</string>
                <key>textureRect</key>
                <string>{{1,1257},{72,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quit_button_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,43}</string>
                <key>spriteSourceSize</key>
                <string>{72,55}</string>
                <key>textureRect</key>
                <string>{{1,1331},{72,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{59,1805},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{32,478},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>satchel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,68}</string>
                <key>spriteSourceSize</key>
                <string>{95,78}</string>
                <key>textureRect</key>
                <string>{{1,1187},{63,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,16}</string>
                <key>spriteSourceSize</key>
                <string>{164,16}</string>
                <key>textureRect</key>
                <string>{{1,865},{164,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stick_man_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{90,621},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{58,54}</string>
                <key>textureRect</key>
                <string>{{1,1469},{58,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{32,536},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{32,594},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{32,652},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tl_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{32,710},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tl_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{32,768},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tr_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{19,868},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tr_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{19,926},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trophy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,62}</string>
                <key>spriteSourceSize</key>
                <string>{59,68}</string>
                <key>textureRect</key>
                <string>{{1,1405},{53,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>try_again_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{167,41}</string>
                <key>spriteSourceSize</key>
                <string>{167,55}</string>
                <key>textureRect</key>
                <string>{{85,1},{167,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>try_again_button_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{167,41}</string>
                <key>spriteSourceSize</key>
                <string>{167,55}</string>
                <key>textureRect</key>
                <string>{{85,170},{167,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,29}</string>
                <key>spriteSourceSize</key>
                <string>{187,29}</string>
                <key>textureRect</key>
                <string>{{1,487},{187,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xp_bar_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,29}</string>
                <key>spriteSourceSize</key>
                <string>{187,29}</string>
                <key>textureRect</key>
                <string>{{1,676},{187,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{127,1876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:700fdfbee91eca32cf9f0069ebda210f:d986d1b714b30bbb679b09ee3814d301:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
