<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>PoisonGlyph.png</key>
   <dict>
    <key>frame</key>
    <string>{{1303,1407},{87,139}}</string>
    <key>offset</key>
    <string>{0,2}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{57,28},{87,139}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>Storm.png</key>
   <dict>
    <key>frame</key>
    <string>{{1504,953},{171,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{15,15},{171,170}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>arrow.png</key>
   <dict>
    <key>frame</key>
    <string>{{918,804},{34,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{83,0},{34,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>avocado.png</key>
   <dict>
    <key>frame</key>
    <string>{{1515,339},{120,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{40,21},{120,158}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>b_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{844,1308},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>b_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1045,1503},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>bear.png</key>
   <dict>
    <key>frame</key>
    <string>{{1463,196},{142,190}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{29,5},{142,190}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>bl_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1119,402},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>bl_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{643,1227},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>br_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{918,603},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>br_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{918,402},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>c_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{918,0},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>c_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{659,1509},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>carrot.png</key>
   <dict>
    <key>frame</key>
    <string>{{1447,1608},{94,192}}</string>
    <key>offset</key>
    <string>{-4,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{49,4},{94,192}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>character-button.png</key>
   <dict>
    <key>frame</key>
    <string>{{1504,1125},{154,154}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{154,154}}</string>
    <key>sourceSize</key>
    <string>{155,155}</string>
   </dict>
   <key>checkbox-empty.png</key>
   <dict>
    <key>frame</key>
    <string>{{688,1016},{206,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{206,206}}</string>
    <key>sourceSize</key>
    <string>{207,207}</string>
   </dict>
   <key>checkbox-filled.png</key>
   <dict>
    <key>frame</key>
    <string>{{895,1101},{206,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{206,206}}</string>
    <key>sourceSize</key>
    <string>{207,207}</string>
   </dict>
   <key>close-modal-x.png</key>
   <dict>
    <key>frame</key>
    <string>{{1329,521},{184,184}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{184,184}}</string>
    <key>sourceSize</key>
    <string>{185,185}</string>
   </dict>
   <key>coin.png</key>
   <dict>
    <key>frame</key>
    <string>{{512,870},{130,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,134}}</string>
    <key>sourceSize</key>
    <string>{131,135}</string>
   </dict>
   <key>dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,1227},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>dot.png</key>
   <dict>
    <key>frame</key>
    <string>{{1463,339},{22,22}}</string>
    <key>offset</key>
    <string>{0,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{4,3},{22,22}}</string>
    <key>sourceSize</key>
    <string>{31,31}</string>
   </dict>
   <key>dumb-knife.png</key>
   <dict>
    <key>frame</key>
    <string>{{659,617},{88,226}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{106,37},{88,226}}</string>
    <key>sourceSize</key>
    <string>{301,301}</string>
   </dict>
   <key>empty-tile-selected.png</key>
   <dict>
    <key>frame</key>
    <string>{{1102,1101},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>empty-tile.png</key>
   <dict>
    <key>frame</key>
    <string>{{1102,1302},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>enemy1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1320,391},{129,194}}</string>
    <key>offset</key>
    <string>{-3,1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{33,2},{129,194}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>enemy_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{154,233},{665,103}}</string>
    <key>offset</key>
    <string>{-2,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,1},{665,103}}</string>
    <key>sourceSize</key>
    <string>{669,105}</string>
   </dict>
   <key>feet.png</key>
   <dict>
    <key>frame</key>
    <string>{{1514,521},{142,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{29,21},{142,158}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>fireball.png</key>
   <dict>
    <key>frame</key>
    <string>{{860,1509},{136,198}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{32,1},{136,198}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>gear.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,932},{237,233}}</string>
    <key>offset</key>
    <string>{1,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{3,0},{237,233}}</string>
    <key>sourceSize</key>
    <string>{241,235}</string>
   </dict>
   <key>gold_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{153,802},{667,103}}</string>
    <key>offset</key>
    <string>{-2,-1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{1,1},{667,103}}</string>
    <key>sourceSize</key>
    <string>{673,105}</string>
   </dict>
   <key>grapes.png</key>
   <dict>
    <key>frame</key>
    <string>{{1516,0},{111,190}}</string>
    <key>offset</key>
    <string>{1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{46,5},{111,190}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>heart.png</key>
   <dict>
    <key>frame</key>
    <string>{{1504,1280},{130,123}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,6},{130,123}}</string>
    <key>sourceSize</key>
    <string>{131,135}</string>
   </dict>
   <key>hook.png</key>
   <dict>
    <key>frame</key>
    <string>{{1329,822},{130,180}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{35,10},{130,180}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>hp_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{49,802},{667,103}}</string>
    <key>offset</key>
    <string>{-2,-1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{1,1},{667,103}}</string>
    <key>sourceSize</key>
    <string>{673,105}</string>
   </dict>
   <key>item-detail-btn-l.png</key>
   <dict>
    <key>frame</key>
    <string>{{1329,953},{22,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,122}}</string>
    <key>sourceSize</key>
    <string>{23,123}</string>
   </dict>
   <key>item-detail-btn-m.png</key>
   <dict>
    <key>frame</key>
    <string>{{1329,976},{16,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,122}}</string>
    <key>sourceSize</key>
    <string>{17,123}</string>
   </dict>
   <key>item-detail-window-bot.png</key>
   <dict>
    <key>frame</key>
    <string>{{869,0},{868,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{868,48}}</string>
    <key>sourceSize</key>
    <string>{869,49}</string>
   </dict>
   <key>item-detail-window-mid.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,129},{868,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{868,48}}</string>
    <key>sourceSize</key>
    <string>{869,49}</string>
   </dict>
   <key>item-detail-window-top.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{868,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{868,128}}</string>
    <key>sourceSize</key>
    <string>{869,129}</string>
   </dict>
   <key>l_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1128,804},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>l_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1303,1005},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>lame-spider-sword.png</key>
   <dict>
    <key>frame</key>
    <string>{{997,1509},{43,190}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{78,5},{43,190}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1447,1407},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>lock-tile.png</key>
   <dict>
    <key>frame</key>
    <string>{{1303,1206},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>modal-inventory-grid-slot.png</key>
   <dict>
    <key>frame</key>
    <string>{{1513,706},{166,166}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{166,166}}</string>
    <key>sourceSize</key>
    <string>{167,167}</string>
   </dict>
   <key>modal-nav-btn.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,617},{314,254}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{314,254}}</string>
    <key>sourceSize</key>
    <string>{315,255}</string>
   </dict>
   <key>money_bag_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1320,196},{142,194}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{29,3},{142,194}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>null.png</key>
   <dict>
    <key>frame</key>
    <string>{{1515,339},{120,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{40,21},{120,158}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>player.png</key>
   <dict>
    <key>frame</key>
    <string>{{1329,706},{115,183}}</string>
    <key>offset</key>
    <string>{12,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{55,8},{115,183}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>quit_button.png</key>
   <dict>
    <key>frame</key>
    <string>{{512,617},{252,146}}</string>
    <key>offset</key>
    <string>{2,-1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{5,27},{252,146}}</string>
    <key>sourceSize</key>
    <string>{259,199}</string>
   </dict>
   <key>quit_button_pressed.png</key>
   <dict>
    <key>frame</key>
    <string>{{659,869},{252,146}}</string>
    <key>offset</key>
    <string>{2,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{5,27},{252,146}}</string>
    <key>sourceSize</key>
    <string>{259,199}</string>
   </dict>
   <key>r_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1119,201},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>r_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{458,1428},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>satchel.png</key>
   <dict>
    <key>frame</key>
    <string>{{912,869},{215,231}}</string>
    <key>offset</key>
    <string>{-2,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{62,23},{215,231}}</string>
    <key>sourceSize</key>
    <string>{343,281}</string>
   </dict>
   <key>stick_man_avatar.png</key>
   <dict>
    <key>frame</key>
    <string>{{748,337},{126,109}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{2,13},{126,109}}</string>
    <key>sourceSize</key>
    <string>{131,135}</string>
   </dict>
   <key>store.png</key>
   <dict>
    <key>frame</key>
    <string>{{491,1016},{210,196}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{210,196}}</string>
    <key>sourceSize</key>
    <string>{211,197}</string>
   </dict>
   <key>sword.png</key>
   <dict>
    <key>frame</key>
    <string>{{1320,0},{195,195}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{3,3},{195,195}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>t_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{918,201},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>t_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1470},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>tl_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,1428},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>tl_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1246,1503},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>tr_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1128,603},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>tr_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1119,0},{200,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,200}}</string>
    <key>sourceSize</key>
    <string>{201,201}</string>
   </dict>
   <key>trophy.png</key>
   <dict>
    <key>frame</key>
    <string>{{257,1170},{184,209}}</string>
    <key>offset</key>
    <string>{0,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{15,20},{184,209}}</string>
    <key>sourceSize</key>
    <string>{215,247}</string>
   </dict>
   <key>try_again_button.png</key>
   <dict>
    <key>frame</key>
    <string>{{154,477},{593,139}}</string>
    <key>offset</key>
    <string>{-3,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{1,27},{593,139}}</string>
    <key>sourceSize</key>
    <string>{601,199}</string>
   </dict>
   <key>try_again_button_pressed.png</key>
   <dict>
    <key>frame</key>
    <string>{{154,337},{593,139}}</string>
    <key>offset</key>
    <string>{-3,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{1,27},{593,139}}</string>
    <key>sourceSize</key>
    <string>{601,199}</string>
   </dict>
   <key>xp_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{154,129},{667,103}}</string>
    <key>offset</key>
    <string>{-2,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{1,1},{667,103}}</string>
    <key>sourceSize</key>
    <string>{673,105}</string>
   </dict>
   <key>xp_bar_container.png</key>
   <dict>
    <key>frame</key>
    <string>{{49,129},{672,104}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{672,104}}</string>
    <key>sourceSize</key>
    <string>{673,105}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>sprites.png</string>
   <key>size</key>
   <string>{2048,2048}</string>
   <key>textureFileName</key>
   <string>sprites.png</string>
  </dict>
 </dict>
</plist>
