<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PoisonGlyph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{90,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{599,975},{90,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Storm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1499,1177},{174,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1057,1525},{36,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avocado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1701,533},{122,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{681,181},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1095,305},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,192}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1543,49},{144,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bl_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1297,369},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bl_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{691,731},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bow-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{893,353},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>br_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1095,507},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>br_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{893,555},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{893,757},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1095,709},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{96,194}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{209,1347},{96,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1495,1399},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox-empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{1,1347},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox-filled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{673,383},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close-modal-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{871,1363},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,134}</string>
                <key>spriteSourceSize</key>
                <string>{130,134}</string>
                <key>textureRect</key>
                <string>{{1701,857},{130,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1297,571},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1827,195},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dumb-knife.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,228}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{599,745},{90,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty-tile-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1297,773},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1095,911},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{132,196}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{557,1119},{132,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{666,104}</string>
                <key>spriteSourceSize</key>
                <string>{668,104}</string>
                <key>textureRect</key>
                <string>{{1,639},{666,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1701,695},{144,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{673,591},{138,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{238,234}</string>
                <key>spriteSourceSize</key>
                <string>{240,234}</string>
                <key>textureRect</key>
                <string>{{317,1091},{238,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{670,104}</string>
                <key>spriteSourceSize</key>
                <string>{672,104}</string>
                <key>textureRect</key>
                <string>{{1,321},{670,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{114,192}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1737,1},{114,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{130,134}</string>
                <key>textureRect</key>
                <string>{{1701,993},{130,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,182}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{537,1379},{132,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{670,104}</string>
                <key>spriteSourceSize</key>
                <string>{672,104}</string>
                <key>textureRect</key>
                <string>{{1,427},{670,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-detail-btn-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,122}</string>
                <key>spriteSourceSize</key>
                <string>{22,122}</string>
                <key>textureRect</key>
                <string>{{1539,345},{22,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-detail-btn-m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,122}</string>
                <key>spriteSourceSize</key>
                <string>{16,122}</string>
                <key>textureRect</key>
                <string>{{875,591},{16,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-detail-window-bot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{866,48}</string>
                <key>spriteSourceSize</key>
                <string>{866,48}</string>
                <key>textureRect</key>
                <string>{{1,131},{866,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-detail-window-mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{866,46}</string>
                <key>spriteSourceSize</key>
                <string>{866,46}</string>
                <key>textureRect</key>
                <string>{{869,1},{866,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-detail-window-top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{866,128}</string>
                <key>spriteSourceSize</key>
                <string>{866,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{866,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1297,975},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{691,933},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lame-spider-sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,192}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1499,1351},{46,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{893,959},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1095,1113},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modal-inventory-grid-slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{1675,1177},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modal-nav-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,254}</string>
                <key>spriteSourceSize</key>
                <string>{314,254}</string>
                <key>textureRect</key>
                <string>{{1,1091},{314,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money_bag_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,196}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1297,1379},{144,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>next_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{678,138}</string>
                <key>spriteSourceSize</key>
                <string>{684,198}</string>
                <key>textureRect</key>
                <string>{{1,181},{678,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>null.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1701,533},{122,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1297,305},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,1}</string>
                <key>spriteSize</key>
                <string>{118,186}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1701,345},{118,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{254,148}</string>
                <key>spriteSourceSize</key>
                <string>{258,198}</string>
                <key>textureRect</key>
                <string>{{1095,155},{254,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quit_button_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{254,148}</string>
                <key>spriteSourceSize</key>
                <string>{258,198}</string>
                <key>textureRect</key>
                <string>{{1539,195},{254,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1297,1177},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{691,1135},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>satchel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{218,234}</string>
                <key>spriteSourceSize</key>
                <string>{342,280}</string>
                <key>textureRect</key>
                <string>{{317,1327},{218,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,56}</string>
                <key>spriteSourceSize</key>
                <string>{592,56}</string>
                <key>textureRect</key>
                <string>{{1,1033},{592,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stat-down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,84}</string>
                <key>spriteSourceSize</key>
                <string>{30,84}</string>
                <key>textureRect</key>
                <string>{{1795,195},{30,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stat-up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,84}</string>
                <key>spriteSourceSize</key>
                <string>{30,84}</string>
                <key>textureRect</key>
                <string>{{1057,1363},{30,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stick_man_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,112}</string>
                <key>spriteSourceSize</key>
                <string>{130,134}</string>
                <key>textureRect</key>
                <string>{{1693,1345},{128,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,196}</string>
                <key>spriteSourceSize</key>
                <string>{210,196}</string>
                <key>textureRect</key>
                <string>{{883,155},{210,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,198}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{671,1363},{198,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{893,1161},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1095,1315},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tl_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1499,369},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tl_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1499,571},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tr_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1499,773},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tr_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1499,975},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trophy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{186,212}</string>
                <key>spriteSourceSize</key>
                <string>{214,246}</string>
                <key>textureRect</key>
                <string>{{1351,155},{186,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>try_again_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{596,142}</string>
                <key>spriteSourceSize</key>
                <string>{600,198}</string>
                <key>textureRect</key>
                <string>{{1,745},{596,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>try_again_button_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{596,142}</string>
                <key>spriteSourceSize</key>
                <string>{600,198}</string>
                <key>textureRect</key>
                <string>{{1,889},{596,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{670,104}</string>
                <key>spriteSourceSize</key>
                <string>{672,104}</string>
                <key>textureRect</key>
                <string>{{1,533},{670,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xp_bar_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,104}</string>
                <key>spriteSourceSize</key>
                <string>{672,104}</string>
                <key>textureRect</key>
                <string>{{869,49},{672,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1852,1562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fcdb46082359836d0e1fcf92892b1fa:b2e2f6d5d6fd9a5aebf26dbae3479d73:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
