<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>PoisonGlyph.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,158},{25,40}}</string>
    <key>offset</key>
    <string>{0,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{16,7},{25,40}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>Storm.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,0},{48,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{4,4},{48,48}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>arrow.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,225},{10,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{23,0},{10,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>avocado.png</key>
   <dict>
    <key>frame</key>
    <string>{{437,427},{34,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{11,6},{34,44}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>b_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,0},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>b_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{329,399},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>bear.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,204},{40,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{8,1},{40,54}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>bl_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,386},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>bl_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,360},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>br_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,329},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>br_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,181},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>c_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,303},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>c_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,171},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>carrot.png</key>
   <dict>
    <key>frame</key>
    <string>{{386,333},{27,54}}</string>
    <key>offset</key>
    <string>{-2,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{13,1},{27,54}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>character-button.png</key>
   <dict>
    <key>frame</key>
    <string>{{419,244},{36,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,36}}</string>
    <key>sourceSize</key>
    <string>{37,37}</string>
   </dict>
   <key>checkbox-empty.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,109},{48,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,48}}</string>
    <key>sourceSize</key>
    <string>{49,49}</string>
   </dict>
   <key>checkbox-filled.png</key>
   <dict>
    <key>frame</key>
    <string>{{405,158},{48,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,48}}</string>
    <key>sourceSize</key>
    <string>{49,49}</string>
   </dict>
   <key>close-modal-x.png</key>
   <dict>
    <key>frame</key>
    <string>{{369,57},{51,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,51}}</string>
    <key>sourceSize</key>
    <string>{52,52}</string>
   </dict>
   <key>coin.png</key>
   <dict>
    <key>frame</key>
    <string>{{405,207},{36,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,37}}</string>
    <key>sourceSize</key>
    <string>{37,38}</string>
   </dict>
   <key>dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,57},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>dot.png</key>
   <dict>
    <key>frame</key>
    <string>{{405,244},{6,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{1,1},{6,6}}</string>
    <key>sourceSize</key>
    <string>{9,9}</string>
   </dict>
   <key>dumb-knife.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,203},{25,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{29,10},{25,63}}</string>
    <key>sourceSize</key>
    <string>{84,84}</string>
   </dict>
   <key>empty-tile-selected.png</key>
   <dict>
    <key>frame</key>
    <string>{{307,228},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>empty-tile.png</key>
   <dict>
    <key>frame</key>
    <string>{{307,285},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>enemy1.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,166},{37,55}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{9,0},{37,55}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>enemy_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,37},{186,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{186,29}}</string>
    <key>sourceSize</key>
    <string>{187,30}</string>
   </dict>
   <key>feet.png</key>
   <dict>
    <key>frame</key>
    <string>{{421,49},{40,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{8,6},{40,44}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>fireball.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,413},{38,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{9,0},{38,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>gear.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,417},{56,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,55}}</string>
    <key>sourceSize</key>
    <string>{57,56}</string>
   </dict>
   <key>gold_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,37},{187,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{187,29}}</string>
    <key>sourceSize</key>
    <string>{188,30}</string>
   </dict>
   <key>grapes.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,300},{32,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{12,1},{32,54}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>heart.png</key>
   <dict>
    <key>frame</key>
    <string>{{419,281},{36,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,1},{36,35}}</string>
    <key>sourceSize</key>
    <string>{37,38}</string>
   </dict>
   <key>hook.png</key>
   <dict>
    <key>frame</key>
    <string>{{386,388},{38,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{9,2},{38,52}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>hp_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{14,225},{187,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{187,29}}</string>
    <key>sourceSize</key>
    <string>{188,30}</string>
   </dict>
   <key>item-detail-window-bot.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,37},{241,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{241,13}}</string>
    <key>sourceSize</key>
    <string>{242,14}</string>
   </dict>
   <key>item-detail-window-mid.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,0},{241,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{241,13}}</string>
    <key>sourceSize</key>
    <string>{242,14}</string>
   </dict>
   <key>item-detail-window-top.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{241,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{241,36}}</string>
    <key>sourceSize</key>
    <string>{242,37}</string>
   </dict>
   <key>l_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,399},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>l_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{101,386},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>lame-spider-sword.png</key>
   <dict>
    <key>frame</key>
    <string>{{101,229},{12,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{22,1},{12,54}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,342},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>lock-tile.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,329},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>modal-inventory-grid-slot.png</key>
   <dict>
    <key>frame</key>
    <string>{{418,109},{46,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,46}}</string>
    <key>sourceSize</key>
    <string>{47,47}</string>
   </dict>
   <key>modal-nav-btn.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,242},{74,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,60}}</string>
    <key>sourceSize</key>
    <string>{75,61}</string>
   </dict>
   <key>money_bag_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,259},{40,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{8,1},{40,54}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>player.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,333},{33,52}}</string>
    <key>offset</key>
    <string>{3,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{15,2},{33,52}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>quit_button.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,109},{71,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{1,7},{71,41}}</string>
    <key>sourceSize</key>
    <string>{73,56}</string>
   </dict>
   <key>quit_button_pressed.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,37},{71,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{1,7},{71,41}}</string>
    <key>sourceSize</key>
    <string>{73,56}</string>
   </dict>
   <key>r_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{329,342},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>r_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,386},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>satchel.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,113},{52,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{14,5},{52,55}}</string>
    <key>sourceSize</key>
    <string>{81,67}</string>
   </dict>
   <key>stick_man_avatar.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,303},{36,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,3},{36,31}}</string>
    <key>sourceSize</key>
    <string>{37,38}</string>
   </dict>
   <key>store.png</key>
   <dict>
    <key>frame</key>
    <string>{{370,0},{49,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,46}}</string>
    <key>sourceSize</key>
    <string>{50,47}</string>
   </dict>
   <key>sword.png</key>
   <dict>
    <key>frame</key>
    <string>{{313,57},{55,55}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{1,1},{55,55}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>t_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{101,329},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>t_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,114},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>tl_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,0},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>tl_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,272},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>tr_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{101,272},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>tr_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,272},{56,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,56}}</string>
    <key>sourceSize</key>
    <string>{57,57}</string>
   </dict>
   <key>trophy.png</key>
   <dict>
    <key>frame</key>
    <string>{{386,427},{44,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{3,4},{44,50}}</string>
    <key>sourceSize</key>
    <string>{51,59}</string>
   </dict>
   <key>try_again_button.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,37},{165,39}}</string>
    <key>offset</key>
    <string>{-1,1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,7},{165,39}}</string>
    <key>sourceSize</key>
    <string>{168,56}</string>
   </dict>
   <key>try_again_button_pressed.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,37},{165,39}}</string>
    <key>offset</key>
    <string>{-1,1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,7},{165,39}}</string>
    <key>sourceSize</key>
    <string>{168,56}</string>
   </dict>
   <key>xp_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,242},{187,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{187,29}}</string>
    <key>sourceSize</key>
    <string>{188,30}</string>
   </dict>
   <key>xp_bar_container.png</key>
   <dict>
    <key>frame</key>
    <string>{{14,37},{187,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{187,29}}</string>
    <key>sourceSize</key>
    <string>{188,30}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>sprites.png</string>
   <key>size</key>
   <string>{512,512}</string>
   <key>textureFileName</key>
   <string>sprites.png</string>
  </dict>
 </dict>
</plist>
