<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PoisonGlyph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1594,95},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Storm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1488,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{417,78},{12,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>avocado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1742,91},{36,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{621,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{679,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1540,1},{42,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bl_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{679,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bl_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{737,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bow-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{737,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>br_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{795,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>br_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{795,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{853,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{853,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{413,94},{30,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1828,83},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox-empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1594,45},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox-filled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1644,43},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close-modal-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{1449,59},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{1826,1},{36,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{911,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{206,116},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dumb-knife.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,65}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{548,32},{27,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>empty-tile-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{911,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{969,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1598,1},{40,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,29}</string>
                <key>spriteSourceSize</key>
                <string>{186,29}</string>
                <key>textureRect</key>
                <string>{{433,1},{186,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1790,39},{42,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1656,1},{40,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1431,1},{56,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,29}</string>
                <key>spriteSourceSize</key>
                <string>{187,29}</string>
                <key>textureRect</key>
                <string>{{170,39},{187,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{471,92},{34,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{1790,83},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1714,1},{40,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,29}</string>
                <key>spriteSourceSize</key>
                <string>{187,29}</string>
                <key>textureRect</key>
                <string>{{244,1},{187,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-detail-btn-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,34}</string>
                <key>spriteSourceSize</key>
                <string>{6,34}</string>
                <key>textureRect</key>
                <string>{{170,116},{6,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-detail-btn-m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,34}</string>
                <key>spriteSourceSize</key>
                <string>{4,34}</string>
                <key>textureRect</key>
                <string>{{244,32},{4,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-detail-window-bot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,13}</string>
                <key>spriteSourceSize</key>
                <string>{241,13}</string>
                <key>textureRect</key>
                <string>{{170,101},{241,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-detail-window-mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,13}</string>
                <key>spriteSourceSize</key>
                <string>{241,13}</string>
                <key>textureRect</key>
                <string>{{359,63},{241,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-detail-window-top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,36}</string>
                <key>spriteSourceSize</key>
                <string>{241,36}</string>
                <key>textureRect</key>
                <string>{{1,1},{241,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{969,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1027,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lame-spider-sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{359,78},{14,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1027,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1085,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modal-inventory-grid-slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1742,43},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modal-nav-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{74,60}</string>
                <key>textureRect</key>
                <string>{{603,61},{74,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money_bag_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1550,45},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1770,1},{36,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,43}</string>
                <key>spriteSourceSize</key>
                <string>{72,55}</string>
                <key>textureRect</key>
                <string>{{529,78},{72,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quit_button_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,43}</string>
                <key>spriteSourceSize</key>
                <string>{72,55}</string>
                <key>textureRect</key>
                <string>{{1375,61},{72,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1085,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1143,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>satchel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,66}</string>
                <key>textureRect</key>
                <string>{{1375,1},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stick_man_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{1644,93},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,46}</string>
                <key>spriteSourceSize</key>
                <string>{49,46}</string>
                <key>textureRect</key>
                <string>{{1694,43},{49,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1143,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1201,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1201,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tl_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1259,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tl_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1259,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tr_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1317,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tr_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1317,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trophy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{1502,53},{46,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>try_again_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{167,41}</string>
                <key>spriteSourceSize</key>
                <string>{167,55}</string>
                <key>textureRect</key>
                <string>{{1,39},{167,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>try_again_button_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{167,41}</string>
                <key>spriteSourceSize</key>
                <string>{167,55}</string>
                <key>textureRect</key>
                <string>{{1,82},{167,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,29}</string>
                <key>spriteSourceSize</key>
                <string>{187,29}</string>
                <key>textureRect</key>
                <string>{{170,70},{187,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xp_bar_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,29}</string>
                <key>spriteSourceSize</key>
                <string>{187,29}</string>
                <key>textureRect</key>
                <string>{{359,32},{187,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{1865,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ee9b9e0519559679014a2b8f4eee164:b99ef0878be92c2fb749fce41b1e67fb:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
