<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>avocado.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,21},{72,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,3},{72,94}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>bear.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,21},{72,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,2},{72,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>carrot.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,21},{48,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,2},{48,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>enemy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,21},{65,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,1},{65,97}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>grapes.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,21},{56,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,2},{56,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>xp_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,20}}</string>
				<key>sourceSize</key>
				<string>{450,20}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,128}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>