<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>PoisonGlyph.png</key>
   <dict>
    <key>frame</key>
    <string>{{655,707},{44,70}}</string>
    <key>offset</key>
    <string>{0,1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{28,14},{44,70}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>Storm.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,424},{86,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{7,7},{86,86}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>arrow.png</key>
   <dict>
    <key>frame</key>
    <string>{{501,756},{18,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{41,0},{18,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>avocado.png</key>
   <dict>
    <key>frame</key>
    <string>{{759,357},{60,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{20,10},{60,80}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>b_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,101},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>b_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,0},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>bear.png</key>
   <dict>
    <key>frame</key>
    <string>{{735,99},{72,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{14,2},{72,96}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>bl_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,202},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>bl_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{627,753},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>br_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{331,756},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>br_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{526,753},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>c_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{230,717},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>c_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,717},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>carrot.png</key>
   <dict>
    <key>frame</key>
    <string>{{728,808},{48,96}}</string>
    <key>offset</key>
    <string>{-2,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{24,2},{48,96}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>character-button.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,511},{77,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,77}}</string>
    <key>sourceSize</key>
    <string>{78,78}</string>
   </dict>
   <key>checkbox-empty.png</key>
   <dict>
    <key>frame</key>
    <string>{{450,551},{103,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,103}}</string>
    <key>sourceSize</key>
    <string>{104,104}</string>
   </dict>
   <key>checkbox-filled.png</key>
   <dict>
    <key>frame</key>
    <string>{{346,510},{103,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,103}}</string>
    <key>sourceSize</key>
    <string>{104,104}</string>
   </dict>
   <key>close-modal-x.png</key>
   <dict>
    <key>frame</key>
    <string>{{668,264},{92,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,92}}</string>
    <key>sourceSize</key>
    <string>{93,93}</string>
   </dict>
   <key>coin.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,438},{65,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,67}}</string>
    <key>sourceSize</key>
    <string>{66,68}</string>
   </dict>
   <key>dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,616},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>dot.png</key>
   <dict>
    <key>frame</key>
    <string>{{735,172},{11,11}}</string>
    <key>offset</key>
    <string>{0,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{2,1},{11,11}}</string>
    <key>sourceSize</key>
    <string>{16,16}</string>
   </dict>
   <key>dumb-knife.png</key>
   <dict>
    <key>frame</key>
    <string>{{331,311},{44,114}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{53,18},{44,114}}</string>
    <key>sourceSize</key>
    <string>{151,151}</string>
   </dict>
   <key>empty-tile-selected.png</key>
   <dict>
    <key>frame</key>
    <string>{{554,551},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>empty-tile.png</key>
   <dict>
    <key>frame</key>
    <string>{{554,652},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>enemy1.png</key>
   <dict>
    <key>frame</key>
    <string>{{662,198},{65,97}}</string>
    <key>offset</key>
    <string>{-2,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{16,1},{65,97}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>enemy_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{78,117},{333,51}}</string>
    <key>offset</key>
    <string>{-1,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,1},{333,51}}</string>
    <key>sourceSize</key>
    <string>{335,53}</string>
   </dict>
   <key>feet.png</key>
   <dict>
    <key>frame</key>
    <string>{{668,424},{72,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{14,10},{72,80}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>fireball.png</key>
   <dict>
    <key>frame</key>
    <string>{{432,756},{68,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{16,0},{68,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>gear.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,469},{118,117}}</string>
    <key>offset</key>
    <string>{1,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{2,0},{118,117}}</string>
    <key>sourceSize</key>
    <string>{121,118}</string>
   </dict>
   <key>gold_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{78,65},{334,51}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{1,1},{334,51}}</string>
    <key>sourceSize</key>
    <string>{337,53}</string>
   </dict>
   <key>grapes.png</key>
   <dict>
    <key>frame</key>
    <string>{{760,0},{56,96}}</string>
    <key>offset</key>
    <string>{1,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{23,2},{56,96}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>heart.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,589},{65,63}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,3},{65,63}}</string>
    <key>sourceSize</key>
    <string>{66,68}</string>
   </dict>
   <key>hook.png</key>
   <dict>
    <key>frame</key>
    <string>{{668,357},{66,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{17,5},{66,90}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>hp_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{25,402},{334,51}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{1,1},{334,51}}</string>
    <key>sourceSize</key>
    <string>{337,53}</string>
   </dict>
   <key>item-detail-window-bot.png</key>
   <dict>
    <key>frame</key>
    <string>{{435,0},{434,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{434,24}}</string>
    <key>sourceSize</key>
    <string>{435,25}</string>
   </dict>
   <key>item-detail-window-mid.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,65},{434,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{434,24}}</string>
    <key>sourceSize</key>
    <string>{435,25}</string>
   </dict>
   <key>item-detail-window-top.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{434,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{434,64}}</string>
    <key>sourceSize</key>
    <string>{435,65}</string>
   </dict>
   <key>l_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{561,202},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>l_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{567,303},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>lame-spider-sword.png</key>
   <dict>
    <key>frame</key>
    <string>{{526,655},{22,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{39,2},{22,96}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{655,505},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>lock-tile.png</key>
   <dict>
    <key>frame</key>
    <string>{{655,606},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>modal-inventory-grid-slot.png</key>
   <dict>
    <key>frame</key>
    <string>{{761,231},{83,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{83,83}}</string>
    <key>sourceSize</key>
    <string>{84,84}</string>
   </dict>
   <key>modal-nav-btn.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,311},{157,126}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,1},{157,126}}</string>
    <key>sourceSize</key>
    <string>{158,128}</string>
   </dict>
   <key>money_bag_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{662,99},{72,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{14,1},{72,98}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>player.png</key>
   <dict>
    <key>frame</key>
    <string>{{760,172},{58,92}}</string>
    <key>offset</key>
    <string>{6,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{27,4},{58,92}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>quit_button.png</key>
   <dict>
    <key>frame</key>
    <string>{{331,435},{126,74}}</string>
    <key>offset</key>
    <string>{1,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{3,13},{126,74}}</string>
    <key>sourceSize</key>
    <string>{130,100}</string>
   </dict>
   <key>quit_button_pressed.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,311},{126,74}}</string>
    <key>offset</key>
    <string>{1,-1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{3,13},{126,74}}</string>
    <key>sourceSize</key>
    <string>{130,100}</string>
   </dict>
   <key>r_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{425,655},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>r_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{567,404},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>satchel.png</key>
   <dict>
    <key>frame</key>
    <string>{{458,435},{108,115}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{31,12},{108,115}}</string>
    <key>sourceSize</key>
    <string>{172,141}</string>
   </dict>
   <key>stick_man_avatar.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,169},{64,55}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{1,7},{64,55}}</string>
    <key>sourceSize</key>
    <string>{66,68}</string>
   </dict>
   <key>store.png</key>
   <dict>
    <key>frame</key>
    <string>{{247,510},{105,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{105,98}}</string>
    <key>sourceSize</key>
    <string>{106,99}</string>
   </dict>
   <key>sword.png</key>
   <dict>
    <key>frame</key>
    <string>{{662,0},{97,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{2,1},{97,98}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>t_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,303},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>t_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{728,707},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>tl_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,101},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>tl_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{460,0},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>tr_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,737},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>tr_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{223,616},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>trophy.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,588},{93,105}}</string>
    <key>offset</key>
    <string>{1,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{8,10},{93,105}}</string>
    <key>sourceSize</key>
    <string>{108,124}</string>
   </dict>
   <key>try_again_button.png</key>
   <dict>
    <key>frame</key>
    <string>{{78,169},{297,70}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{1,14},{297,70}}</string>
    <key>sourceSize</key>
    <string>{301,100}</string>
   </dict>
   <key>try_again_button_pressed.png</key>
   <dict>
    <key>frame</key>
    <string>{{78,240},{297,70}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{1,14},{297,70}}</string>
    <key>sourceSize</key>
    <string>{301,100}</string>
   </dict>
   <key>xp_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,402},{334,51}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{1,1},{334,51}}</string>
    <key>sourceSize</key>
    <string>{337,53}</string>
   </dict>
   <key>xp_bar_container.png</key>
   <dict>
    <key>frame</key>
    <string>{{25,65},{336,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{336,52}}</string>
    <key>sourceSize</key>
    <string>{337,53}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>sprites.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
   <key>textureFileName</key>
   <string>sprites.png</string>
  </dict>
 </dict>
</plist>
