<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PoisonGlyph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{105,27},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Storm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{81,91},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{81,364},{8,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avocado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{106,418},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{51,364},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{25,432},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{96,486},{22,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bl_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{10,123},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bl_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{10,153},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bow-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{10,183},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>br_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{10,213},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>br_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{21,1},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{21,31},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{21,61},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{106,388},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{101,251},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox-empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{100,174},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox-filled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{101,200},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close-modal-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{100,119},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{105,53},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{21,91},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{76,428},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dumb-knife.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{58,399},{16,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty-tile-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{40,121},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{40,151},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{104,328},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,14}</string>
                <key>spriteSourceSize</key>
                <string>{93,14}</string>
                <key>textureRect</key>
                <string>{{1,464},{93,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{105,1},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{81,1},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{55,435},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,14}</string>
                <key>spriteSourceSize</key>
                <string>{93,14}</string>
                <key>textureRect</key>
                <string>{{1,480},{93,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{76,398},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{109,74},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{81,31},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,14}</string>
                <key>spriteSourceSize</key>
                <string>{93,14}</string>
                <key>textureRect</key>
                <string>{{1,496},{93,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-detail-btn-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,17}</string>
                <key>spriteSourceSize</key>
                <string>{3,17}</string>
                <key>textureRect</key>
                <string>{{51,394},{3,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-detail-btn-m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,17}</string>
                <key>spriteSourceSize</key>
                <string>{2,17}</string>
                <key>textureRect</key>
                <string>{{70,394},{2,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-detail-window-bot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,7}</string>
                <key>spriteSourceSize</key>
                <string>{120,7}</string>
                <key>textureRect</key>
                <string>{{1,123},{120,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-detail-window-mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,6}</string>
                <key>spriteSourceSize</key>
                <string>{120,6}</string>
                <key>textureRect</key>
                <string>{{1,245},{120,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-detail-window-top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,18}</string>
                <key>spriteSourceSize</key>
                <string>{120,18}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>l_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{40,181},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{41,211},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lame-spider-sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{85,428},{8,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{41,241},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{51,1},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modal-inventory-grid-slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{101,226},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modal-nav-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{9,245},{37,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>money_bag_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{81,61},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,22}</string>
                <key>spriteSourceSize</key>
                <string>{95,28}</string>
                <key>textureRect</key>
                <string>{{1,367},{95,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>page-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{85,458},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{106,358},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{96,448},{36,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quit_button_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{25,364},{36,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{51,31},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{51,61},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>satchel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{40,33}</string>
                <key>textureRect</key>
                <string>{{25,402},{28,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,8}</string>
                <key>spriteSourceSize</key>
                <string>{82,8}</string>
                <key>textureRect</key>
                <string>{{96,364},{82,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stat-down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{41,271},{4,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stat-up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{55,271},{4,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stick_man_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{109,95},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{100,147},{25,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{51,91},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{70,121},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{70,151},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tl_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{70,181},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tl_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{71,211},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tr_dark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{71,241},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tr_light_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{94,271},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trophy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{94,301},{25,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>try_again_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,22}</string>
                <key>spriteSourceSize</key>
                <string>{83,28}</string>
                <key>textureRect</key>
                <string>{{9,284},{83,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>try_again_button_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,22}</string>
                <key>spriteSourceSize</key>
                <string>{83,28}</string>
                <key>textureRect</key>
                <string>{{9,308},{83,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,14}</string>
                <key>spriteSourceSize</key>
                <string>{93,14}</string>
                <key>textureRect</key>
                <string>{{9,332},{93,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xp_bar_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,14}</string>
                <key>spriteSourceSize</key>
                <string>{93,14}</string>
                <key>textureRect</key>
                <string>{{9,348},{93,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{128,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea247376d10c919ef5bf3ab173798934:4f99a49bd8800e9be4d7d9f450a8d957:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
