<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>PoisonGlyph.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,174},{13,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{8,3},{13,21}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>Storm.png</key>
   <dict>
    <key>frame</key>
    <string>{{21,188},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{2,2},{24,24}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>arrow.png</key>
   <dict>
    <key>frame</key>
    <string>{{50,173},{6,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{11,0},{6,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>avocado.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,188},{15,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{4,2},{15,19}}</string>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>b_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{158,87},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>b_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{137,116},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>bear.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,0},{20,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{4,0},{20,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>bl_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{138,58},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>bl_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{138,29},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>br_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{109,0},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>br_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{109,29},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>c_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{109,58},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>c_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,87},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>carrot.png</key>
   <dict>
    <key>frame</key>
    <string>{{21,173},{14,28}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{6,0},{14,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>character-button.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,174},{18,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,18}}</string>
    <key>sourceSize</key>
    <string>{19,19}</string>
   </dict>
   <key>checkbox-empty.png</key>
   <dict>
    <key>frame</key>
    <string>{{100,174},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,24}}</string>
    <key>sourceSize</key>
    <string>{25,25}</string>
   </dict>
   <key>checkbox-filled.png</key>
   <dict>
    <key>frame</key>
    <string>{{125,174},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,24}}</string>
    <key>sourceSize</key>
    <string>{25,25}</string>
   </dict>
   <key>close-modal-x.png</key>
   <dict>
    <key>frame</key>
    <string>{{119,199},{16,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{1,0},{16,17}}</string>
    <key>sourceSize</key>
    <string>{19,19}</string>
   </dict>
   <key>coin.png</key>
   <dict>
    <key>frame</key>
    <string>{{172,174},{18,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,19}}</string>
    <key>sourceSize</key>
    <string>{19,20}</string>
   </dict>
   <key>dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,116},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>dot.png</key>
   <dict>
    <key>frame</key>
    <string>{{67,44},{4,4}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{4,4}}</string>
    <key>sourceSize</key>
    <string>{5,5}</string>
   </dict>
   <key>empty-tile-selected.png</key>
   <dict>
    <key>frame</key>
    <string>{{50,144},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>empty-tile.png</key>
   <dict>
    <key>frame</key>
    <string>{{79,144},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>enemy1.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,58},{19,28}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{4,0},{19,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>enemy_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{30,15},{93,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,14}}</string>
    <key>sourceSize</key>
    <string>{94,15}</string>
   </dict>
   <key>feet.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,193},{20,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{4,3},{20,22}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>fireball.png</key>
   <dict>
    <key>frame</key>
    <string>{{196,29},{20,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{4,0},{20,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>gold_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{93,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,14}}</string>
    <key>sourceSize</key>
    <string>{94,15}</string>
   </dict>
   <key>grapes.png</key>
   <dict>
    <key>frame</key>
    <string>{{45,74},{16,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{6,0},{16,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>heart.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,74},{18,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,19}}</string>
    <key>sourceSize</key>
    <string>{19,20}</string>
   </dict>
   <key>hook.png</key>
   <dict>
    <key>frame</key>
    <string>{{79,173},{20,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{4,1},{20,26}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>hp_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,15},{93,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,14}}</string>
    <key>sourceSize</key>
    <string>{94,15}</string>
   </dict>
   <key>l_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,145},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>l_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{137,145},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>lame-spider-sword.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,44},{6,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{11,0},{6,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{166,116},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>lock-tile.png</key>
   <dict>
    <key>frame</key>
    <string>{{167,29},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>money_bag_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{67,15},{20,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{4,0},{20,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>player.png</key>
   <dict>
    <key>frame</key>
    <string>{{50,180},{17,26}}</string>
    <key>offset</key>
    <string>{1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{7,1},{17,26}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>quit_button.png</key>
   <dict>
    <key>frame</key>
    <string>{{45,52},{36,21}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,4},{36,21}}</string>
    <key>sourceSize</key>
    <string>{37,29}</string>
   </dict>
   <key>quit_button_pressed.png</key>
   <dict>
    <key>frame</key>
    <string>{{45,15},{36,21}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,4},{36,21}}</string>
    <key>sourceSize</key>
    <string>{37,29}</string>
   </dict>
   <key>r_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{138,0},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>r_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{108,145},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>stick_man_avatar.png</key>
   <dict>
    <key>frame</key>
    <string>{{100,199},{18,16}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,2},{18,16}}</string>
    <key>sourceSize</key>
    <string>{19,20}</string>
   </dict>
   <key>sword.png</key>
   <dict>
    <key>frame</key>
    <string>{{187,87},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>t_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{167,58},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>t_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{167,0},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>tl_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{21,144},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>tl_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{79,115},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>tr_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{50,115},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>tr_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{21,115},{28,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,28}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>try_again_button.png</key>
   <dict>
    <key>frame</key>
    <string>{{45,94},{83,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,4},{83,20}}</string>
    <key>sourceSize</key>
    <string>{84,29}</string>
   </dict>
   <key>try_again_button_pressed.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,109},{83,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,4},{83,20}}</string>
    <key>sourceSize</key>
    <string>{84,29}</string>
   </dict>
   <key>xp_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{94,0},{93,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,14}}</string>
    <key>sourceSize</key>
    <string>{94,15}</string>
   </dict>
   <key>xp_bar_container.png</key>
   <dict>
    <key>frame</key>
    <string>{{15,15},{93,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{93,14}}</string>
    <key>sourceSize</key>
    <string>{94,15}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>sprites.png</string>
   <key>size</key>
   <string>{256,256}</string>
   <key>textureFileName</key>
   <string>sprites.png</string>
  </dict>
 </dict>
</plist>
