<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>PoisonGlyph.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,0},{30,47}}</string>
    <key>offset</key>
    <string>{0,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{19,9},{30,47}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>Storm.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,375},{57,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{5,5},{57,57}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>arrow.png</key>
   <dict>
    <key>frame</key>
    <string>{{186,212},{11,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{28,0},{11,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>avocado.png</key>
   <dict>
    <key>frame</key>
    <string>{{98,645},{41,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{13,7},{41,53}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>b_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,115},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>b_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,523},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>bear.png</key>
   <dict>
    <key>frame</key>
    <string>{{84,530},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{9,1},{49,65}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>bl_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,183},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>bl_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{153,462},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>br_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,47},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>br_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{85,462},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>c_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{153,326},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>c_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{153,394},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>carrot.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,547},{32,65}}</string>
    <key>offset</key>
    <string>{-2,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{16,1},{32,65}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>character-button.png</key>
   <dict>
    <key>frame</key>
    <string>{{188,597},{39,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,39}}</string>
    <key>sourceSize</key>
    <string>{40,40}</string>
   </dict>
   <key>checkbox-empty.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,651},{52,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,52}}</string>
    <key>sourceSize</key>
    <string>{53,53}</string>
   </dict>
   <key>checkbox-filled.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,645},{52,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,52}}</string>
    <key>sourceSize</key>
    <string>{53,53}</string>
   </dict>
   <key>close-modal-x.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,313},{61,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,61}}</string>
    <key>sourceSize</key>
    <string>{62,62}</string>
   </dict>
   <key>coin.png</key>
   <dict>
    <key>frame</key>
    <string>{{98,597},{43,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,45}}</string>
    <key>sourceSize</key>
    <string>{44,46}</string>
   </dict>
   <key>dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{17,394},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>dot.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,326},{8,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{1,1},{8,7}}</string>
    <key>sourceSize</key>
    <string>{11,11}</string>
   </dict>
   <key>dumb-knife.png</key>
   <dict>
    <key>frame</key>
    <string>{{109,229},{30,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{35,12},{30,76}}</string>
    <key>sourceSize</key>
    <string>{101,101}</string>
   </dict>
   <key>empty-tile-selected.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,411},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>empty-tile.png</key>
   <dict>
    <key>frame</key>
    <string>{{17,462},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>enemy1.png</key>
   <dict>
    <key>frame</key>
    <string>{{17,530},{44,66}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{11,0},{44,66}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>enemy_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,108},{223,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{223,35}}</string>
    <key>sourceSize</key>
    <string>{224,36}</string>
   </dict>
   <key>feet.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,591},{49,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{9,7},{49,53}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>fireball.png</key>
   <dict>
    <key>frame</key>
    <string>{{179,144},{47,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{10,0},{47,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>gear.png</key>
   <dict>
    <key>frame</key>
    <string>{{423,183},{60,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,59}}</string>
    <key>sourceSize</key>
    <string>{61,60}</string>
   </dict>
   <key>gold_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,72},{224,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{224,35}}</string>
    <key>sourceSize</key>
    <string>{225,36}</string>
   </dict>
   <key>grapes.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,212},{38,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{15,1},{38,64}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>heart.png</key>
   <dict>
    <key>frame</key>
    <string>{{144,597},{43,42}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,2},{43,42}}</string>
    <key>sourceSize</key>
    <string>{44,46}</string>
   </dict>
   <key>hook.png</key>
   <dict>
    <key>frame</key>
    <string>{{397,250},{45,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{11,3},{45,61}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>hp_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,36},{224,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{224,35}}</string>
    <key>sourceSize</key>
    <string>{225,36}</string>
   </dict>
   <key>item-detail-window-bot.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,290},{289,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{289,16}}</string>
    <key>sourceSize</key>
    <string>{290,17}</string>
   </dict>
   <key>item-detail-window-mid.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,580},{289,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{289,16}}</string>
    <key>sourceSize</key>
    <string>{290,17}</string>
   </dict>
   <key>item-detail-window-top.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{289,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{289,43}}</string>
    <key>sourceSize</key>
    <string>{290,44}</string>
   </dict>
   <key>l_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{405,47},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>l_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,115},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>lame-spider-sword.png</key>
   <dict>
    <key>frame</key>
    <string>{{109,260},{15,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{26,1},{15,65}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,455},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>lock-tile.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,319},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>modal-inventory-grid-slot.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,433},{55,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{55,55}}</string>
    <key>sourceSize</key>
    <string>{56,56}</string>
   </dict>
   <key>modal-nav-btn.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,194},{79,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,64}}</string>
    <key>sourceSize</key>
    <string>{80,65}</string>
   </dict>
   <key>money_bag_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{150,530},{49,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{9,1},{49,65}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>player.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,250},{39,62}}</string>
    <key>offset</key>
    <string>{4,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{18,2},{39,62}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>quit_button.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,144},{84,49}}</string>
    <key>offset</key>
    <string>{1,-1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{2,9},{84,49}}</string>
    <key>sourceSize</key>
    <string>{87,67}</string>
   </dict>
   <key>quit_button_pressed.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,144},{84,49}}</string>
    <key>offset</key>
    <string>{1,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{2,9},{84,49}}</string>
    <key>sourceSize</key>
    <string>{87,67}</string>
   </dict>
   <key>r_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,251},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>r_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{289,387},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>satchel.png</key>
   <dict>
    <key>frame</key>
    <string>{{425,115},{55,59}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{15,5},{55,59}}</string>
    <key>sourceSize</key>
    <string>{87,71}</string>
   </dict>
   <key>stick_man_avatar.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,48},{43,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,4},{43,37}}</string>
    <key>sourceSize</key>
    <string>{44,46}</string>
   </dict>
   <key>store.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,597},{53,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,49}}</string>
    <key>sourceSize</key>
    <string>{54,50}</string>
   </dict>
   <key>sword.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,183},{65,66}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{1,1},{65,66}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>t_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,47},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>t_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,479},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>tl_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{85,394},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>tl_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{221,343},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>tr_dark_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{85,326},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>tr_light_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{17,326},{67,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{67,67}}</string>
    <key>sourceSize</key>
    <string>{68,68}</string>
   </dict>
   <key>trophy.png</key>
   <dict>
    <key>frame</key>
    <string>{{50,597},{47,53}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{4,5},{47,53}}</string>
    <key>sourceSize</key>
    <string>{55,63}</string>
   </dict>
   <key>try_again_button.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,0},{198,46}}</string>
    <key>offset</key>
    <string>{-1,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,9},{198,46}}</string>
    <key>sourceSize</key>
    <string>{201,67}</string>
   </dict>
   <key>try_again_button_pressed.png</key>
   <dict>
    <key>frame</key>
    <string>{{242,144},{198,46}}</string>
    <key>offset</key>
    <string>{-1,1}</string>
    <key>rotated</key>
    <true/>
    <key>sourceColorRect</key>
    <string>{{0,9},{198,46}}</string>
    <key>sourceSize</key>
    <string>{201,67}</string>
   </dict>
   <key>xp_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{44,0},{224,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{224,35}}</string>
    <key>sourceSize</key>
    <string>{225,36}</string>
   </dict>
   <key>xp_bar_container.png</key>
   <dict>
    <key>frame</key>
    <string>{{17,290},{224,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{224,35}}</string>
    <key>sourceSize</key>
    <string>{225,36}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>sprites.png</string>
   <key>size</key>
   <string>{512,1024}</string>
   <key>textureFileName</key>
   <string>sprites.png</string>
  </dict>
 </dict>
</plist>
